.app {
  @extend .d-flex;
  @extend .flex-column;
  height: 100vh;
}

.main-bg-wrap {
  background-color: $gray-200;
}

main {
  .leaflet-container {
    a {
      color: $primary;
    }
  }
}

.navbar-footer {
  font-size: $font-size-sm;
  background-color: $dark;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  min-height: 500px;

  .leaflet-popup {
    .leaflet-popup-close-button {
      text-decoration: none;
      top: $spacer;
      right: $spacer;
      width: auto;
      height: auto;
    }
  }
}

.leaflet-popup {
  font-family: $font-family-base;

  .leaflet-popup-content-wrapper {
    border-radius: 0;
  }

  .leaflet-popup-content {
    padding: $spacer $spacer*3 $spacer/2 $spacer/2;
  }
}

.results {
  padding-top: $spacer;

  @include media-breakpoint-up(lg) {
    max-height: 79.25vh;
    overflow: auto;
    // mask-image: linear-gradient(rgba(233, 236, 239, 1) 88%, rgba(233, 236, 239, 0) 98%);
  }

  .card-group {

    .card-header,
    .card-body {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-weight: $font-weight-bold;
      line-height: $headings-line-height;
      .text-uppercase {
        flex: 0 1 65%;
      }
    }

    .card-header {
      padding: $spacer*1.5;
    }

    .value {
      @extend .display-4;
      @extend .rounded-pill;
      @extend .bg-info;
      color: $white;
      font-weight: $font-weight-bold;
      margin-right: $spacer*1.25;
      padding: $spacer/2;
      margin-top: $spacer/2;
      margin-bottom: $spacer/2;
      flex: 1 0 20%;
      text-align: center;
    }
  }

  .card {
    margin-bottom: $spacer;
  }
}

.school {
  margin-bottom: $spacer;
}

.btn-truncate {
  @extend .text-truncate;
  padding: $spacer/2 $spacer*0.75;

  span {
    max-width: 100%;
  }
}

.page {
  h1 {
    font-size: $h3-font-size;
  }

  h2 {
    margin-top: $spacer*2;
    font-size: $h4-font-size;
  }

  h3 {
    font-size: $h5-font-size;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $spacer*1.5;
  }
}

.card-one-school {
  .card-body {
    a {
      color: inherit;
    }
  }
}
